<% provide(:title, "All users") %>
<h1>All users</h1>

<%# ページネーションのリンクを生成する。 %>
<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%# ページネーションのリンクを生成する。 %>
<%= will_paginate %>


<%#
memo 1: `render @users`
  次と同義。
  ```
  @users.each do |user|
    render user
  end
  ```
  render メソッドの引数には、モデルオブジェクトのコレクションを渡すと、
  自動でそのコレクションの各要素に対して、同名のパーシャルを呼び出す仕様になっている。
%>
